.cs-about {

	&-airdrop {
		padding-top: 50px;
		padding-bottom: 50px;

		img {
			max-width: 300px;
			width: 100%;
			height: auto;
		}

		.row:first-child {
			z-index: 4;
		}

		.row:last-child {
			@include flex();
			padding-top: 40px;
			z-index: 3;
		}

	}

	&-functions {
		padding-top: 150px;
		padding-bottom: 50px;

		.row:last-child {
			padding-top: 50px;
		}

	}

	&-faq {
		padding-top: 50px;
		padding-bottom: 30px;

		.row:last-child {
			padding-top: 50px;
		}

		&-single {
			border-radius: 10px;
			margin-bottom: 20px;
			overflow: hidden;
			position: relative;

			h5 {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background-color: $second-color;
				padding: 15px 20px;
				cursor: pointer;
				position: relative;
				transition: all 0.3s ease;
				user-select: none;
				z-index: 6;

				&:after {
					@include pos(absolute, 20px, 2px);
					top: 50%;
					margin-top: -1px;
					right: 20px;
					background-color: $primary-color;
					transition: all 0.3s ease;
					content: '';
				}

				&:before {
					@include pos(absolute, 20px, 2px);
					@include transform(rotate(90deg));
					top: 50%;
					margin-top: -1px;
					right: 20px;
					background-color: $primary-color;
					transition: all 0.3s ease;
					content: '';
				}
			}

			&-answer {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				padding: 0 20px;
				background-color: $second-color;
				height: 0;
				transition: all 0.3s ease;
				z-index: 4;
			}

			&.active {

				h5 {
					color: $second-color;
					background-color: $primary-color;

					&:after {
						background-color: $second-color;
						@include transform(rotate(180deg));
					}

					&:before {
						background-color: $second-color;
						@include transform(rotate(180deg));
					}

				}

				.cs-about-faq-single-answer {
					display: block;
					padding: 15px 20px;
					height: auto;
				}

			}

		}

	}

}